In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel, sigmoid_kernel, cosine_similarity

In [3]:
df = pd.read_csv("dataset.csv")


df.columns = ['title', 'category', 'tags']
df.tail()
df.sort_values('category',ascending=False)

                    title       category                   tags
48              app store  totality corp           android, ios
47           organization  totality corp          totality corp
46            application  totality corp                   yovo
45     entertainment yovo  totality corp                   yovo
44                   yovo  totality corp                   yovo
43               fun yovo  totality corp                   yovo
42                 gaming  totality corp                   yovo
12               iphone x     technology                 mobile
15               one plus     technology                 mobile
14                samsung     technology                 mobile
13                  nokia     technology                 mobile
11              pavillion     technology                 laptop
10                macbook     technology                 laptop
9                  legion     technology                 laptop
8                predator     technology                 laptop
41             girlfriend        romance        soulmate, faith
40              raanjhana        romance                   love
39              ninty six        romance            faith, love
38               aashiqui        romance          love, forever
25         narendra modi        politics               pm, news
28               kejriwal       politics            delhi, news
27                    nrc       politics                   news
26                    caa       politics                   news
0          beauty contest        dancing         hip hop, salsa
17              moon walk        dancing                hip hop
20                punjabi        dancing     3 peg, nagin dance
4     prabhudeva aashiqui        dancing  free style, freestyle
5         michael jackson        dancing                hip hop
16                     mj        dancing                tik tok
19           office party        dancing                  salsa
18         marriage dance        dancing     nagin dance, 3 peg
2   rajpal yadav aashiqui         comedy                  funny
3            akshay kumar         comedy  laughter, meme, funny
29                  trend         comedy     tik tok, musically
30              do akhiya         comedy        musically, vigo
31                   desi         comedy            vigo, vmate
32                  sunny         comedy                  vmate
37           brahamnandan         comedy           south, funny
7               laal rang          actor          randeep hooda
1                     war         action            fight, guns
24                   army         action            fire, fight
23               commando         action                   guns
21         fast & furious         action                   cars
22           rohit shetty         action        explosion, cars
35                  rx100         acting        thriller, movie
6         pankaj tripathi         acting                serious
34              ninty six         acting  vijay sethupathi, act
33                   ambi         acting         aparichit, act
36                mimicry         acting                   hero

In [4]:
#vectorizer used
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['category'])

In [5]:
#matrix shape
tfidf_matrix.shape

(49, 10)

In [6]:
# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [7]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [8]:
#Construct a reverse map of indices and video titles
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [9]:
indices

title
beauty contest            0
war                       1
rajpal yadav aashiqui     2
akshay kumar              3
prabhudeva aashiqui       4
michael jackson           5
pankaj tripathi           6
laal rang                 7
predator                  8
legion                    9
macbook                  10
pavillion                11
iphone x                 12
nokia                    13
samsung                  14
one plus                 15
mj                       16
moon walk                17
marriage dance           18
office party             19
punjabi                  20
fast & furious           21
rohit shetty             22
commando                 23
army                     24
narendra modi            25
caa                      26
nrc                      27
kejriwal                 28
trend                    29
do akhiya                30
desi                     31
sunny                    32
ambi                     33
ninty six                34
rx100                    35
mimicry                  36
brahamnandan             37
aashiqui                 38
ninty six                39
raanjhana                40
girlfriend               41
gaming                   42
fun yovo                 43
yovo                     44
 entertainment yovo      45
application              46
organization             47
app store                48
dtype: int64

In [10]:
# Function that takes in movie title as input and outputs most similar videos
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    print(idx)
    # Get the pairwsie similarity scores of all videos with that video
    sim_scores = list(enumerate(cosine_sim[idx]))
   
    # Sort the videos based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the  most similar videos
    sim_scores = sim_scores[1:4]

    # Get the video indices
    video_indices = [i[0] for i in sim_scores]

    # Return similiar videos
    return df['title'].iloc[video_indices]

In [11]:
#now when we enter a title then we will get the similiar recommendations
get_recommendations('aashiqui')

38

39     ninty six
40     raanjhana
41    girlfriend
Name: title, dtype: object

###################### NEW Content based recommendation ############################

In [3]:
movies_df = pd.read_csv("data/tmdb_5000_movies.csv")

In [4]:
# Drop columns which are not useful
movies_cleaned_df = movies_df.drop(columns=['homepage',  'status','production_countries'])
movies_cleaned_df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",John Carter,6.1,2124

In [14]:
movies_cleaned_df.head()['overview']

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
movies_cleaned_df['overview'] = movies_cleaned_df['overview'].fillna('')

In [16]:
# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(movies_cleaned_df['overview'])

In [17]:
tfv_matrix.shape

(4803, 10417)

In [18]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [19]:
# Reverse mapping of indices and movie titles
indices = pd.Series(movies_cleaned_df.index, index=movies_cleaned_df['original_title']).drop_duplicates()

In [20]:
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [1]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = indices[title]

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sig[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:2]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]

    # Top 10 most similar movies
    return movies_cleaned_df['original_title'].iloc[movie_indices]

NameError: name 'sig' is not defined

In [22]:
# Testing our content-based recommendation system with the seminal film Spy Kids
give_rec('Spy Kids')

1302    Spy Kids 2: The Island of Lost Dreams
1155                  Spy Kids 3-D: Game Over
1769      Spy Kids: All the Time in the World
4044                               Go for It!
3359                              In Too Deep
1631                                 Mr. 3000
1825                Jimmy Neutron: Boy Genius
339                           The Incredibles
3793                     The Velocity of Gary
1081                       Revolutionary Road
Name: original_title, dtype: object